<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Home Page</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="/_css/navbar.css" rel="stylesheet">
    <link href="/_css/campaign.css" rel="stylesheet">
    <!--    <script src="/_js/navbar.js"></script>-->

    <!--    flatpickr test-->
    <link href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="_components/navbar.html"></div>
<!-- Campaign Container -->
<!--<div class="container mt-5">-->
<div class="container">
    <div id="campaign-title">
        <img alt="campaign icon" id="campaign-picture" src="/images/campaign.png">
        <h1>CAMPAIGN</h1>
    </div>
    <hr>
    <br>
    <div>
        <h2>All Campaigns</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Subject</th>
                <th>Target Date</th>
                <th>Target Tag</th>
                <th>Status</th>
                <th>Execute Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody id="campaignList"></tbody>
        </table>
        <!-- Pagination -->
        <div class="d-flex justify-content-center mt-4" id="pagination"></div>
    </div>
    <!-- Create New Campaign Form -->
    <div>
        <h2>Create New Campaign</h2>
        <form id="newCampaignForm">
            <div class="form-group">
                <label for="subject">Subject:</label>
                <input class="form-control" id="subject" name="subject" type="text">
            </div>
            <div class="form-group">
                <label for="templateId">Template:</label>
                <select class="form-control" id="templateId" name="template_id">
                    <!-- Populate with existing templates -->
                </select>
            </div>
            <!--            <div class="form-group">-->
            <!--                <label for="send_date">Send Date:</label>-->
            <!--                <input class="form-control" id="send_date" name="send_date" type="date">-->
            <!--            </div>-->
            <div class="form-group">
                <label for="send_datetime">Send Date and Time (Hourly Precision):</label>
                <input class="form-control" id="send_datetime" name="send_datetime" type="text">
                <!--                <input class="form-control" id="send_datetime" name="send_datetime" step="3600" type="datetime-local">-->
            </div>
            <div class="form-group">
                <label for="tag_id">Tag:</label>
                <select class="form-control" id="tag_id" name="tag_id">
                    <!-- Populate with available tags -->
                </select>
            </div>
            <button class="btn btn-primary" onclick="saveDraft()" type="button">Save Draft</button>
            <button class="btn btn-success" onclick="saveComplete()" type="button">Save Complete</button>
        </form>
    </div>
</div>
<br><br>
<!--&lt;!&ndash; Template Container &ndash;&gt;-->
<!--<div class="container">-->
<!--    <h2>Template List</h2>-->
<!--    <div id="templateContainer"></div>-->
<!--</div>-->
<!--<div class="d-flex justify-content-center mt-4" id="template-pagination">-->
<!--    <button onclick="previousPage()"> <<</button>-->
<!--    <span id="template-currentPage">1</span>-->
<!--    <button onclick="nextPage()"> >></button>-->
<!--</div>-->

<!--<div class="container">-->
<!--    <button class="btn btn-primary mt-3" onclick="navigateToAddTemplate()">Add New Template</button>-->
<!--</div>-->

<!-- Bootstrap JS and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!--flatpickr script import-->
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr("#send_datetime", {
        dateFormat: "Y-m-d H:00", // 設置日期和時間的顯示格式，僅顯示到小時
        enableTime: true, // 啟用時間選擇功能
        minDate: "today", // 只允許選擇當天之後的日期
        maxDate: new Date().fp_incr(365), // 只允許選擇一年之內的日期
        utc: true//將選擇時間轉換為UTC+0時間
    });
    localStorage.setItem('token', 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0MTIzNDVAZXhhbXBsZS5jb20iLCJpYXQiOjE3MTM3NjIxNjEsImV4cCI6MTcxNzM2MjE2MSwiY29tcGFueSI6eyJpZCI6MTEsInRpdGxlIjoi6Zi_5a-s5YWs5Y-4IiwiZGVzY3JpcHRpb24iOiLkuIDplpPmlrDlibXlhazlj7giLCJpbmR1c3RyeSI6InNvZnR3YXJlIGRldmVsb3BtZW50IiwiYW5uaXZlcnNhcnkiOjE1ODcwNTI4MDAwMDAsImFjY291bnQiOiJ0ZXN0MTIzNDVAZXhhbXBsZS5jb20iLCJwYXNzd29yZCI6IiQyYSQxMCRhZnd2MTd4RkVLVG1VdFJ6QUVOY3V1TVN0RnJTTEJ0M1QyVW5WWktzM0VFR0J2NDl4dGVKNiIsImNvbXBhbnlfdXVpZCI6IjBhZDkwZWRkLTYyOGYtNGQwNi1iMzI4LTNhYzFkYjg1MTA2NyJ9LCJ0aXRsZSI6IumYv-WvrOWFrOWPuCIsImFjY291bnQiOiJ0ZXN0MTIzNDVAZXhhbXBsZS5jb20ifQ.7ywY3ZbEZdLhRHNXsFcC3aaEUbP6G-nm2_AmIp5-oq4');
    const token = localStorage.getItem('token');
    // 构建请求头
    const headers = {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${token}` // 添加 JWT token 到请求头中
    };
    // Load all template after windows loading completed
    let currentPage = 0;
    
    // window.onload = async function () {
    //     // await loadCampaigns();
    //     await loadTemplates();
    //     // await loadTemplatesWithPage(currentPage);
    //     await loadTags();
    //     await loadCampaignsWihPage(currentPage);
    // }

    loadTemplates();
    loadTags();
    loadCampaignsWihPage(currentPage);

    // function navigateToAddTemplate() {
    //     window.location.href = '/configure';
    // }

    // // Load all campaigns
    async function loadCampaigns() {
        try {
            const response = await fetch('/api/1.0/campaign/all', {
                method: 'GET', // 或其他请求方法
                headers: headers
            });
            const campaigns = await response.json();
            displayCampaigns(campaigns);
        } catch (error) {
            console.error(error);
        }
    }

    async function loadCampaignsWihPage(pageNumber) {
        try {
            const response = await fetch(`/api/1.0/campaign/paging?number=${pageNumber}`, {
                method: 'GET', // 或其他请求方法
                headers: headers
            });
            const campaignData = await response.json();
            const campaigns = campaignData.data;
            const totalPages = campaignData.total_paging;
            console.log(totalPages);
            displayCampaigns(campaigns);
            createPagination(totalPages);
        } catch (error) {
            console.error(error);
        }
    }

    function createPagination(totalPages) {
        const paginationContainer = document.getElementById('pagination');
        paginationContainer.innerHTML = ''; // Clear existing pagination

        for (let i = 0; i < totalPages; i++) {
            const pageLink = document.createElement('a');
            pageLink.href = '#';
            pageLink.innerText = i + 1;
            pageLink.onclick = function () {
                loadCampaignsWihPage(i);
                currentPage = i;
            };
            paginationContainer.appendChild(pageLink);
        }
    }

    // Display campaigns
    function displayCampaigns(campaigns) {
        const campaignList = document.getElementById('campaignList');
        campaignList.innerHTML = ''; // Clear existing list

        campaigns.forEach(function (campaign) {
            const row = document.createElement('tr');
            console.log(campaign);
            let statusColorClass = '';
            switch (campaign.status) {
                case 'COMPLETED':
                    statusColorClass = 'badge-success';
                    break;
                case 'DRAFT':
                    statusColorClass = 'badge-info';
                    break;
                default:
                    statusColorClass = '';
            }

            let executeColorClass = '';
            switch (campaign.execute_status) {
                case 'COMPLETE':
                    executeColorClass = 'badge-success';
                    break;
                case 'PENDING':
                    executeColorClass = 'badge-warning';
                    break;
                default:
                    executeColorClass = '';
            }


            row.innerHTML = `
                <td>${campaign.subject}</td>
                <td>${campaign.send_datetime}</td>
                <td>${campaign.tag}</td>
                <td ><span class="badge ${statusColorClass}">${campaign.status}</span></td>
                <td><span class="badge ${executeColorClass}">${campaign.execute_status}</span></td>
                <td><button class="btn btn-success" onclick="sendCampaign(${campaign.id})">Send Now</button>
                <button class="btn btn-danger" onclick="deleteCampaign(${campaign.id})">Delete</button></td>
            `;
            campaignList.appendChild(row);
        });
    }

    async function sendCampaign(campaignId) {
        try {
            const response = await fetch(`/api/1.0/campaign/send?id=${campaignId}`, {
                method: 'POST',
                headers: headers
            });
            if (response.ok) {
                alert('Campaign sent successfully');
                // await loadCampaigns(); // Reload campaigns
            } else {
                throw new Error('Failed to send campaign');
            }
        } catch (error) {
            console.error(error);
            alert('Failed to send campaign');
        }
    }

    async function deleteCampaign(campaignId) {
        try {
            const response = await fetch(`/api/1.0/campaign/delete?id=${campaignId}`, {
                method: 'DELETE',
                headers: headers
            })
            if (response.ok) {
                alert('Campaign deleted successfully');
                // await loadCampaigns();
                await loadCampaignsWihPage(currentPage)
            }
        } catch (error) {
            console.log(error);
            alert('Failed to delete campaign');
        }
    }

    // 加载模板列表
    async function loadTemplates() {
        try {
            // const response = await fetch('/api/1.0/template/all?id=11'); // get all template api end point
            const response = await fetch(`/api/1.0/template/all`, {
                method: 'GET',
                headers: headers
            });
            const templates = await response.json();
            populateTemplateDropdown(templates);
        } catch (error) {
            console.error(error);
        }
    }

    // async function loadTemplatesWithPage(paging) {
    //     try {
    //         const response = await fetch(`api/1.0/template/paging?number=${paging}`, {
    //             method: 'GET',
    //             headers: headers
    //         });
    //         const templatesData = await response.json();
    //         const templates = templatesData.data;
    //         console.log(templates);
    //         displayTemplates(templates)
    //     } catch (error) {
    //         console.error(error);
    //     }
    // }
    //
    // let currentPage = 0;
    //
    // function nextPage() {
    //     currentPage++;
    //     document.getElementById('template-currentPage').innerText = currentPage + 1;
    //     loadTemplatesWithPage(currentPage);
    // }
    //
    // function previousPage() {
    //     if (currentPage >= 1) {
    //         currentPage--;
    //         document.getElementById('template-currentPage').innerText = currentPage + 1;
    //         loadTemplatesWithPage(currentPage);
    //     }
    // }


    // Populate template dropdown
    function populateTemplateDropdown(templates) {
        const templateDropdown = document.getElementById('templateId');
        templateDropdown.innerHTML = ''; // Clear existing options

        templates.forEach(function (template) {
            const option = document.createElement('option');
            option.value = template.id;
            option.innerText = template.subject;
            templateDropdown.appendChild(option);
        });
    }

    // Save draft
    async function saveDraft() {
        const formData = new FormData(document.getElementById('newCampaignForm'));
        const requestData = Object.fromEntries(formData.entries());
        console.log(requestData);
        try {
            const response = await fetch('/api/1.0/campaign/draft', {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(requestData)
            });
            if (response.ok) {
                alert('Draft saved successfully');
                // await loadCampaigns(); // Reload campaigns
                await loadCampaignsWihPage(currentPage)
            } else {
                throw new Error('Failed to save draft');
            }
        } catch (error) {
            console.error(error);
            alert('Failed to save draft');
        }
    }

    // Save complete
    async function saveComplete() {
        const formData = new FormData(document.getElementById('newCampaignForm'));
        const requestData = Object.fromEntries(formData.entries());

        try {
            const response = await fetch('/api/1.0/campaign/complete', {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(requestData)
            });
            if (response.ok) {
                alert('Complete campaign saved successfully');
                // await loadCampaigns(); // Reload campaigns
                await loadCampaignsWihPage(currentPage)
            } else {
                throw new Error('Failed to save complete campaign');
            }
        } catch (error) {
            console.error(error);
            alert('Failed to save complete campaign');
        }
    }

    // // 显示模板列表
    // function displayTemplates(templates) {
    //     const templateContainer = document.getElementById('templateContainer');
    //     templateContainer.innerHTML = ''; // 清空容器内容
    //
    //     templates.forEach(function (template) {
    //         // 创建模板卡片
    //         const templateCard = document.createElement('div');
    //         templateCard.classList.add('card', 'mb-3');
    //
    //         // 卡片内容
    //         const cardBody = document.createElement('div');
    //         cardBody.classList.add('card-body');
    //
    //         // 主题
    //         const subject = document.createElement('h5');
    //         subject.classList.add('card-title');
    //         subject.innerText = template.subject;
    //
    //         // 编辑按钮
    //         const editButton = document.createElement('button');
    //         editButton.classList.add('btn', 'btn-primary', 'btn-sm', 'mr-2');
    //         editButton.innerText = 'Edit';
    //         editButton.onclick = function () {
    //             editTemplate(template.id);
    //         };
    //
    //         // 删除按钮
    //         const deleteButton = document.createElement('button');
    //         deleteButton.classList.add('btn', 'btn-danger', 'btn-sm');
    //         deleteButton.innerText = 'Delete';
    //         deleteButton.onclick = function () {
    //             deleteTemplate(template.id);
    //         };
    //
    //         // 组装卡片内容
    //         cardBody.appendChild(subject);
    //         cardBody.appendChild(editButton);
    //         cardBody.appendChild(deleteButton);
    //         templateCard.appendChild(cardBody);
    //
    //         // 添加到模板容器中
    //         templateContainer.appendChild(templateCard);
    //     });
    // }
    //
    // // 编辑模板
    // function editTemplate(templateId) {
    //     // 构造编辑页面的 URL
    //     const editUrl = '/templateEditor?id=' + templateId;
    //     // 在当前窗口中打开编辑页面
    //     window.location.href = editUrl;
    // }
    //
    // // 删除模板
    // async function deleteTemplate(templateId) {
    //     try {
    //         const response = await fetch('/api/1.0/template/delete?id=' + templateId, {method: 'DELETE'});
    //         if (response.ok) {
    //             alert('Template deleted successfully');
    //             await loadTemplatesWithPage(currentPage); // 重新載入模板列表
    //             // await loadTemplates(); // 重新載入模板列表
    //         } else {
    //             throw new Error('Failed to delete template');
    //         }
    //     } catch (error) {
    //         console.error(error);
    //         alert('Failed to delete template');
    //     }
    // }

    async function loadTags() {
        try {
            const response = await fetch('/api/1.0/tag/get', {
                method: 'GET',
                headers: headers
            });
            const tags = await response.json();
            // displayTags(tags);
            populateTagOptions(tags);
        } catch (error) {
            console.error(error);
        }
    }

    function populateTagOptions(tags) {
        const tagSelect = document.getElementById('tag_id');
        tagSelect.innerHTML = ''; // 清空選項

        tags.forEach(function (tag) {
            const option = document.createElement('option');
            option.value = tag.id;
            option.innerText = tag.name;
            tagSelect.appendChild(option);
        });
    }

    function displayTags(tags) {
        const tagsContainer = document.getElementById('tagList');
        tagsContainer.innerHTML = ''; // 清空容器

        tags.forEach(function (tag) {
            const tagItem = document.createElement('div');
            tagItem.classList.add('tag-item');

            const tagName = document.createElement('span');
            tagName.innerText = tag.name;

            tagItem.appendChild(tagName);
            tagsContainer.appendChild(tagItem);
        });
    }
</script>
</body>
</html>