<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Mail Goblin - 專業的郵件管理解決方案</title>
    <link href="/images/goblin.png" rel="icon" type="image/x-icon">
    <link href="/_css/lading_page.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Jersey+20+Charted&family=Jersey+25&family=Noto+Sans+TC:wght@100..900&family=Poetsen+One&display=swap"
          rel="stylesheet">
</head>
<body>

<header>
    <div class="logo">
        <a class="logo-link" href="/index">
            <img alt="Mail Goblin Logo" src="/images/goblin.png">
            <h1>Mail Goblin</h1>
        </a>
    </div>
    <nav>
        <ul>
            <li><a href="/sign-in">Login / SignUp</a></li>
        </ul>
    </nav>
</header>

<section class="hero">
    <div class="hero-background">
    </div>
    <div class="hero-content">
        <h1>Turn Your Mail Into Ca$h</h1>
        <p>
            Mail Goblin Streamline Your Marketing Efforts with Precision Tracking of Every Email,<br>
            <span class="highlight">Transforming Your mail into a Money-Making Machine!</span></p>
        <a class="cta-btn" href="/sign-in">Start Now</a>
    </div>
</section>

<section class="features">
    <div class="feature">
        <h2>I. Email Template Setup</h2>
        <p>Mail Goblin offers a personalized email template setup feature,<br>
            allowing you to easily manage all your email templates ! </p>
    </div>
    <div class="feature">
        <h2>II. Campaign Automation</h2>
        <p>Experience our cutting-edge Campaign Automation feature for unparalleled efficiency,<br>
            revolutionizing the way you manage and execute marketing strategies.</p>
    </div>
    <div class="feature">
        <h2>III. Audience Management</h2>
        <p>Mail Goblin provides a one-stop audience management service,<br>
            helping you identify audiences interested in your product and ensuring your money is spent wisely.</p>
    </div>
    <div class="feature">
        <h2>IV. Mail Tracking</h2>
        <p>Mail Goblin provides precise email tracking capabilities,<br>
            ensuring all emails sent through Mail Goblin remain traceable,<br>
            enabling you to accurately analyze the performance of each marketing campaign.</p>
    </div>
</section>

<section class="about">
    <h2>About Us</h2>
    <p>Mail Goblin is a company dedicated to providing marketing email management solutions.<br>
        Our team has extensive experience in delivering efficient and secure services to our clients.</p>
</section>


<footer>
    <p>&copy; 2024 Mail Goblin. All rights reserved</p>
</footer>

</body>
</html>