<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Templates</title>
    <link href="/images/goblin.png" rel="icon" type="image/x-icon">
    <!-- include libraries(jQuery, bootstrap) -->
    <link href="/_css/navbar.css" rel="stylesheet">
    <link href="/_css/marketing_form.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">-->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>
</head>
<body>
<div th:insert="_components/navbar.html"></div>
<div class="container">
    <div id="template-title">
        <img alt="template icon" id="template-picture" src="/images/email.png">
        <h1>Mail Template Setting</h1>
    </div>
    <hr>
    <!--<form th:action="@{/marketing/configure}" method="post">-->
    <form enctype="multipart/form-data" method="post" th:action="@{/saveTemplate}" th:object="${mailTemplate}">
        <div>
            <label for="marketingSubject">主題:</label>
            <input id="marketingSubject" name="subject" th:field="*{subject}" th:required="required" type="text">
        </div>
        <br>
        <div id="marketingContent2" th:field="*{content}" th:required="required" th:rows="4"></div>
        <div style="display: none">
            <label for="marketingContent">HTML Content:</label>
            <textarea id="marketingContent" name="content" th:field="*{content}" th:required="false" th:rows="4"
                      type="text"></textarea>
        </div>
        <br>
        <div>
            <label for="marketingUrl">行銷網址:</label>
            <input id="marketingUrl" name="url" th:field="*{url}" th:required="required" type="text">
        </div>
        <br>
        <div style="color: green;" th:if="${message}">
            <p th:text="${message}"></p>
        </div>
        <div style="color: red;" th:if="${error}">
            <p th:text="${error}"></p>
        </div>
        <!-- Display success message if any -->
        <div>
            <!--        <p>上傳圖片</p>-->
            <!--        <input type="file" value="上傳照片" name="file" th:required="false"><br><br>-->
            <button class="btn btn-success" type="submit">Add Email Template</button>
        </div>
    </form>
</div>
<script>
    localStorage.setItem('token', 'eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0MTIzNDVAZXhhbXBsZS5jb20iLCJpYXQiOjE3MTM3NjIxNjEsImV4cCI6MTcxNzM2MjE2MSwiY29tcGFueSI6eyJpZCI6MTEsInRpdGxlIjoi6Zi_5a-s5YWs5Y-4IiwiZGVzY3JpcHRpb24iOiLkuIDplpPmlrDlibXlhazlj7giLCJpbmR1c3RyeSI6InNvZnR3YXJlIGRldmVsb3BtZW50IiwiYW5uaXZlcnNhcnkiOjE1ODcwNTI4MDAwMDAsImFjY291bnQiOiJ0ZXN0MTIzNDVAZXhhbXBsZS5jb20iLCJwYXNzd29yZCI6IiQyYSQxMCRhZnd2MTd4RkVLVG1VdFJ6QUVOY3V1TVN0RnJTTEJ0M1QyVW5WWktzM0VFR0J2NDl4dGVKNiIsImNvbXBhbnlfdXVpZCI6IjBhZDkwZWRkLTYyOGYtNGQwNi1iMzI4LTNhYzFkYjg1MTA2NyJ9LCJ0aXRsZSI6IumYv-WvrOWFrOWPuCIsImFjY291bnQiOiJ0ZXN0MTIzNDVAZXhhbXBsZS5jb20ifQ.7ywY3ZbEZdLhRHNXsFcC3aaEUbP6G-nm2_AmIp5-oq4');
    const token = localStorage.getItem('token');
    // 构建请求头
    const headers = {
        'Content-Type': 'application/json',
        'Authorization': `Bearer ${token}` // 添加 JWT token 到请求头中
    };
    $(document).ready(function () {
        $('#marketingContent2').summernote({
            // 可以在這裡配置Summernote的選項
            placeholder: 'Enter your text here...',
            height: 600,
            callbacks: {
                onImageUpload: function (files) {
                    // 将图片上传到服务器
                    var formData = new FormData();
                    formData.append('image', files[0]);

                    $.ajax({
                        url: '/upload-image', // 上传图片的接口地址
                        method: 'POST',
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (response) {
                            // 图片上传成功后，将图片 URL 插入到编辑器中
                            console.log(response);
                            // console.log(response.url);
                            $('#marketingContent2').summernote('insertImage', response);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            }
        });
    });
    $('form').on('submit', async function (event) {
        // // 將Summernote的內容複製到隱藏的textarea中
        // $('textarea[name="content"]').val($('#marketingContent2').summernote('code'));
        event.preventDefault();
        const formData = {
            subject: $('#marketingSubject').val(),
            content: $('#marketingContent2').summernote('code'),
            url: $('#marketingUrl').val()
        };

        try {
            const reponse = await fetch('api/1.0/template/add', {
                method: 'POST',
                headers: headers,
                body: JSON.stringify(formData)
            });
            if (reponse.ok) {
                alert('Template add successfully')
                window.location.href = '/template'
            } else {
                const error = 'Failed to add template'
                alert(error);
                throw new Error(error);
            }
        } catch (error) {
            console.error(error);
            alert('Failed to add template')
        }
    });
</script>
</body>
</html>