<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title>User Profile</title>
    <link href="/_css/navbar.css" rel="stylesheet">
    <link href="/_css/profile.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div th:insert="_components/navbar.html"></div>
<!--<div class="profile-container">-->
<div class="container">
    <div id="profile-title">
        <img alt="profile icon" id="profile-picture" src="/images/user.png">
        <h1>PROFILE</h1>
    </div>
    <hr>
    <div class="company-info">
        <h2>Company Information</h2>
        <div class="profile-item">
            <label>Name/Account:</label>
            <span id="user-name"></span>
        </div>
        <div class="profile-item">
            <label>Company Name:</label>
            <span id="company-name"></span>
        </div>
        <div class="profile-item">
            <label>Description:</label>
            <span id="company-description"></span>
        </div>
        <div class="profile-item">
            <label>Industry:</label>
            <span id="company-industry"></span>
        </div>
        <div class="profile-item">
            <label>Established:</label>
            <span id="company-established"></span>
        </div>
    </div>
</div>
<!--</div>-->
<!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>-->
<script>
    // Fetch token from localStorage
    const token = localStorage.getItem('token');

    // Fetch user profile data from API
    fetch('/api/1.0/company/profile', {
        method: 'GET',
        headers: {
            'Authorization': `Bearer ${token}`
        }
    })
        .then(response => response.json())
        .then(data => {
            // Update user info
            document.getElementById('user-name').innerText = data.account;
            // document.getElementById('user-email').innerText = data.account;

            // Update company info
            document.getElementById('company-name').innerText = data.company.title;
            document.getElementById('company-description').innerText = data.company.description;
            document.getElementById('company-industry').innerText = data.company.industry;

            // Convert timestamp to readable date format
            const establishedDate = new Date(data.company.anniversary);
            document.getElementById('company-established').innerText = establishedDate.toLocaleDateString('en-US');
        })
        .catch(error => {
            console.error('Error fetching data:', error);
            // Handle error
        });
</script>
</body>
</html>