<!-- navbar.html -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img alt="Mail Goblin Logo" class="logo" src="/images/goblin.png">
    <a class="navbar-brand" href="#">Mail Goblin</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/template">Template</a>
            </li>
            <!--            <li class="nav-item active">-->
            <li class="nav-item">
                <a class="nav-link" href="/homePage">Campaign</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/tag">Tags</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/audience">Audience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/dashboard">Dashboard</a>
            </li>
        </ul>
    </div>
</nav>