* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 240px;
}

.container {
    padding-top: 3rem;
}

#campaign-title {
    display: flex;
    align-items: flex-end;
}

#campaign-picture {
    height: 4rem;
    margin-right: 1rem;
}

.badge-warning {
    color: #1f2d3d;
    background-color: #ffc107;
}

.badge-success {
    color: #fff;
    background-color: #28a745;
}

.badge-danger {
    color: #fff;
    background-color: #dc3545;
}

.badge-info {
    color: #fff;
    background-color: #17a2b8;
}

.badge {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#pagination {
    width: 5%;
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

#pagination a.is-active {
    /*background-color: #2ecc71;*/
    background-color: #1aa06d;
    color: #fff;
}

#pagination a {
    color: #ccc;
}

.page-btn {
    padding: 0.2rem 0.5rem;
}

.table td {
    vertical-align: middle;
}

.delete-image {
    height: 1.2rem;
    width: 1.2rem;
}

.btn-danger {
    color: #fff;
    background-color: #ffffff;
    border: 0 solid #b0b0b0;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ccc;
    border: 1px solid #000000;
}