.noto-sans-tc {
    font-family: "Noto Sans TC", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 240px;
    font-family: "Noto Sans TC", sans-serif;
}

#template-title {
    display: flex;
    align-items: flex-end;
}

#template-picture {
    height: 4rem;
    margin-right: 1rem;
}

.container {
    padding-top: 3rem;
}