/*.navigator {*/
/*    display: flex;*/
/*}*/

/*==============version 2================*/

/*.logo {*/
/*    height: 5rem;*/
/*    width: 5rem;*/
/*}*/

/*a:-webkit-any-link {*/
/*    cursor: pointer;*/
/*}*/

/*.icon-image {*/
/*    height: 3rem;*/
/*    width: 3rem;*/
/*}*/


/*.navbar-container {*/
/*    display: flex; !* 使用 Flexbox 排列子元素 *!*/
/*    justify-content: space-between; !* 將子元素分散對齊 *!*/
/*    align-items: center; !* 垂直方向居中對齊 *!*/
/*    padding: 10px; !* 添加一些內邊距 *!*/
/*    background-color: #f8f9fa; !* 背景色 *!*/
/*}*/

/*.navbar-nav {*/
/*    display: flex; !* 使用 Flexbox 排列子元素 *!*/
/*    list-style-type: none; !* 移除預設的列表樣式 *!*/
/*}*/

/*.navbar-nav li {*/
/*    margin-right: 15px; !* 設置每個列表項之間的右邊距 *!*/
/*}*/

/*.navbar-brand {*/
/*    margin-right: auto; !* 將 navbar-brand 推到最左邊 *!*/
/*}*/


/*body {*/
/*    background: #202838;*/
/*}*/

.jersey-25-regular {
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.sidebar {
    margin-top: -4rem;
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 2000;
    /*background: url("http://themes.mediacreed.com/html/synergy/assets/patterns/menu/menu_pattern_1.png");*/
    border-right: 10px solid #568259;
    background-color: #F1FFFA;
    left: 0;

    .title-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-family: "Jersey 25", sans-serif;
    }

    .logo {
        width: 50%;
    }

    ul {
        margin-top: 30px;
    }

    li {
        list-style: none;
        padding: 10px;
        position: relative;
    }

    a {
        text-decoration: none;
        color: #464E47;
        font: 1.2rem Oswald;
        text-transform: uppercase;
        position: relative;
        z-index: 1000;
    }

    .hover {
        display: block;
        position: absolute;
        width: 0%;
        height: 40px;
        top: 0px;
        left: 0px;
        /*background: #568259;*/
        z-index: 0;
        opacity: 0;
    }

    a:hover {
        color: #96E6B3;
    }


    .fa-angle-right {
        position: absolute;
        left: 150px;
        top: 1px;
    }

    .sub-menu {
        z-index: 2000;
        position: absolute;
        left: 210px;
        top: -30px;
        padding: 0px;
        width: 220px;
        display: none;
        background: url("http://themes.mediacreed.com/html/synergy/assets/patterns/menu/menu_pattern_1.png");

        li {
            a {
                padding-left: 20px;
                font-size: 13px;
            }
        }

        i {
            left: 180px;
        }
    }

    ul li:hover ul {
        display: block;
    }

    .push {
        margin-right: 10px;
    }
}

.function-list {
    padding-left: 2rem;
}


/*.site-title {*/
/*    color: #464E47;*/
/*    font: 16px Open Oswald;*/
/*    padding-left: 50px;*/
/*    padding-top: 30px;*/
/*}*/

.color {
    color: #568259;
}

.icon {
    display: inline-block;
    width: 20px; /* 设置图标的宽度 */
    height: 20px; /* 设置图标的高度 */
    margin-right: 5px; /* 设置图标与文本之间的间距 */
}

.icon img {
    width: 100%; /* 图标宽度填充父元素 */
    height: auto; /* 自适应高度 */
}

.portfolio {
    width: 1040px;
    margin-left: 250px;
    position: relative;
    z-index: 0;
    padding-top: 20px;

    li {
        list-style: none;
        float: left;
        box-shadow: #000 0px 0px 10px;
        border: 1px solid #000;
        position: relative;
        overflow: hidden;
        margin-right: 10px;
        z-index: 0;
        margin-bottom: 20px;
    }

    li:before {
        content: "";
        position: absolute;
        width: 160%;
        top: -100px;
        left: -120px;
        height: 200px;
        -webkit-transform: rotate(-36deg);
        -moz-transform: rotate(-36deg);
        -o-transform: rotate(-36deg);
        -ms-transform: rotate(-36deg);
        transform: rotate(-36deg);
        background: rgba(255, 255, 255, 0.1);
    }
}

.top-banner {
    /*position: fixed;*/
    /*z-index: 2100;*/
    margin-left: -240px;
    height: 4rem;
    background-color: #464E47;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: "Jersey 25", sans-serif;
}

.top-banner-text {
    font-size: 1.8rem;
    color: white;
    margin-right: 2rem;
}

/*.caption {*/
/*    width: 230px;*/
/*    background: #FFF;*/
/*    margin-top: -5px;*/
/*    padding-bottom: 10px;*/

/*    h1 {*/
/*        color: #d00355;*/
/*        text-align: center;*/
/*        margin: 0px;*/
/*        padding: 0px;*/
/*        font: 16px Oswald;*/
/*        text-transform: uppercase;*/
/*        padding-top: 10px;*/
/*    }*/

/*    p {*/
/*        font: 13px Open Sans;*/
/*        text-align: center;*/
/*        padding: 10px;*/
/*    }*/

/*    i {*/
/*        margin-left: 110px;*/
/*        margin-top: 15px;*/
/*        color: #d00355;*/
/*    }*/
/*}*/

/*.active-drag {*/
/*    -webkit-animation: drag 1.5s infinite;*/
/*}*/

/*@-webkit-keyframes drag {*/
/*    0% {*/
/*        -webkit-transform: scale(1);*/
/*    }*/

/*    50% {*/
/*        -webkit-transform: scale(0.8);*/
/*    }*/
/*    100% {*/
/*        -webkit-transform: scale(1);*/
/*    }*/
/*}*/

