* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 240px;
}

.container {
    padding-top: 3rem;
}

#tag-title {
    display: flex;
    align-items: flex-end;
}

#tag-picture {
    height: 4rem;
    margin-right: 1rem;
}

.p8 button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1aa06d;
    /*margin: auto 5px;*/
    color: #fff;
    font-weight: bold;
    border: 3px solid #1aa06d;
    margin: 0.5rem;
    height: 2.2rem;
    width: 5rem;
}

.p8 .is-active {
    background-color: #fff;
    color: #1aa06d;
}

#tags-pagination {
    display: flex;
    align-items: center;
    margin: auto;
}

#tags-currentPage {
    width: 30px;
    height: 30px;
    line-height: 30px;
    padding: 0;
    text-align: center;
    background-color: #1aa06d;
    border-radius: 100%;
    color: #fff;
}

.delete-image {
    height: 1.2rem;
    width: 1.2rem;
}

.btn-danger {
    color: #fff;
    background-color: #ffffff;
    border: 0 solid #b0b0b0;
}

.btn-danger:hover {
    color: #fff;
    background-color: #ccc;
    border: 1px solid #000000;
}