* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    padding-left: 240px;
}

#template-title {
    display: flex;
    align-items: flex-end;
}

#template-picture {
    height: 4rem;
    margin-right: 1rem;
}

.container {
    padding-top: 3rem;
}